<div class="container">
  <div class="about_image scroll">
    <img src="../../../../assets/images/fox.jpg" alt="Foto de Raposa">
  </div>
  <div class="about_content scroll">
    <div class="about_txt">
      <span>Sobre Mim</span>
      <h2>Me Chamo Luiz Fernando</h2>
      <span>23 anos</span>
      <p>Front-End Developer Angular</p>
      <p class="developer_p">Atualmente, trabalho como freelancer, desafiando-me constantemente em novos projetos para
        adquirir mais
        experiência. Amo tudo que envolve front-end e cuido de cada aspecto dos meus projetos com total atenção aos
        detalhes, sempre visando entregar páginas bem classificadas pelo SEO, com alto desempenho e total
        responsividade.
      </p>
    </div>
    <div class="about_icons">
      <a href="https://www.linkedin.com/in/lfsilvaferreira/" target="_blank">
        <img src="../../../../assets/icons/linked.png" alt="Linkedin icone">
      </a>
      <a href="https://github.com/LFzinn" target="_blank">
        <img src="../../../../assets/icons/gith.png" alt="Github icone">
      </a>

    </div>



  </div>

</div>