<div class="container">

  <div class="col_1">
    <span (click)="scrollToSection('home')" class="title">LFzinn.<b>Dev</b></span>
    <p>Front-End Developer</p>
  </div>

  <div class="col_2">
    <nav>
      <a href="https://www.linkedin.com/in/lfsilvaferreira/" target="_blank"><img src="../../../assets/icons/linked.png"
          alt="link para o perfil de luiz fernando no linkedin"></a>
      <a href="https://github.com/LFzinn" target="_blank"><img src="../../../assets/icons/gith.png"
          alt="link para o perfil de luiz fernando no Github"></a>
    </nav>
  </div>
</div>