.card_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  margin: 0 1rem;
  max-width: 100%;
  width: 30rem;
  gap: 2rem;
  background-color: #24292f;
  padding: 4rem;
  border-radius: 1rem;
  transition: transform .3s ease;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: var(--dark_shadow)
}


.site {
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
  opacity: 0.1;
  color: var(--p-txt);
  font-family: 'nexa';

}


.titulo {
  font-size: 1.6rem;
  font-family: 'nexa';
  font-weight: 700;
  letter-spacing: 3px;
}

.desempenho {
  color: var(--orange);
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.description {
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}

.description:hover {
  color: var(--p-txt);
}

@media (max-width : 340px) {
  .card {
    height: 20rem;
    margin: 0;
    width: 15rem;
  }

  .titulo {
    font-size: 2 rem;
    letter-spacing: normal;
  }

  .desempenho {
    color: var(--orange);
    font-size: 2rem;
  }

  .description {
    font-weight: 700;
    font-size: 1.4rem;
  }
}