<div class="container">
  <nav>
    <div class="menu_group">
      <a title="Clique aqui para navegar para sessão inicial" (click)="scrollToSection('home')">
        <img src="../../../../assets/mobileIcons/botao-de-inicio.webp" alt="icone de uma casa genérica">
      </a>
    </div>

    <div class="menu_group">
      <a title="Clique aqui para navegar para sessão sobre mim" (click)="scrollToSection('sobre')">
        <img src="../../../../assets/mobileIcons/do-utilizador.webp" alt="icone de um boneco genérico">
      </a>
    </div>


    <div class="menu_group">
      <a title="Clique aqui para navegar para sessão meus conhecimentos" (click)="scrollToSection('conhecimentos')">
        <img src="../../../../assets/mobileIcons/inteligencia-emocional.webp" alt="icone de lampada genérica">
      </a>
    </div>


  </nav>

</div>