.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;

  padding: 2rem 0;
  box-shadow: var(--light_shadow);
}


.container nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.menu_group {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 5rem;
  background-color: #24292f;
  border-radius: 0.5rem;
  transition: transform .3s ease;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: var(--dark_shadow);
}

.menu_group:hover {
  box-shadow: var(--light_shadow)
}

.menu_group img {
  width: 3.8rem;
  height: 3.5rem;
}


@media (max-width: 250px) {
  .container nav {
    flex-direction: column;

  }
}