.container {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 3rem 1rem;
  border-radius: 2rem;
  gap: 3rem;
}

.about_image {
  max-width: 50%;
}

.about_image img {
  width: 50rem;
  height: 100%;
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.about_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 50%;
}

.about_txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50rem;
}

.about_txt span {
  color: var(--orange);
}

.about_txt h2 {
  font-size: 3.5rem;
}

.about_txt h2 b {
  color: var(--orange);
}


.developer_p {
  color: var(--p-txt);
}


.about_icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.about_icons img {
  width: 4rem;
}

@media (max-width: 1012px) {
  .container {
    flex-wrap: wrap;
    margin: 3rem 1rem;
    gap: 1rem;
    align-items: center;
  }

  .about_image {
    max-width: 100%;
  }

  .about_content {
    text-align: start;
    order: -1;
    max-width: 100%;
  }

  .about_icons {
    margin: 2rem 0;
  }

  .about_image img {
    max-width: 100%;
  }
}

@media (max-width: 544px) {
  .about_txt {
    text-align: center;
  }

  .about_txt p {
    font-size: 1.8rem;
  }

  .about_txt .developer_p {
    font-size: 1.3rem;
    line-height: 20px;
  }
}

@media (max-width: 280px) {
  .about_txt h2 {
    font-size: 2.5rem;
  }

  .about_txt .developer_p {
    text-align: center;
    font-size: 1.2rem;
    line-height: normal;
  }

  .about_txt p {
    font-size: 1.5rem;
  }

  .about_txt span {
    font-size: 1.3rem;
  }

  .about_icons img {
    width: 2.2rem;
    height: 2.2rem;
  }
}