<div class="editor_container scroll">



  <div [@slideIn]="showIcons" class="header_editor">




    <div (click)="tsView()" [ngClass]="{ 'isActive': isTsOpen }" class="language_editor scroll">
      <img src="../../../../assets/icons/typescript-svgrepo-com.svg" alt="TypeScript Icone">
      <span>lfzinn.component.ts</span>
    </div>

    <div (click)="htmlView()" [ngClass]="{ 'isActive': isHtmlOpen }" class="language_editor scroll">
      <img src="../../../../assets/icons/htmlicon.svg" alt="HTML Icone">
      <span>lfzinn.component.html</span>
    </div>

    <div (click)="cssView()" [ngClass]="{ 'isActive': isCssOpen }" class="language_editor scroll">
      <img src="../../../../assets/icons/icons8-css.svg" alt="HTML Icone">
      <span>lfzinn.component.css</span>
    </div>







  </div>











  <div [@slideIn]="showIcons" id="editorTs" [ngStyle]="{ 'display': isTsOpen ? 'block' : 'none' }"
    [textContent]="dynamicTextTs">
  </div>


  <div id="editorHtml" [ngStyle]="{ 'display': isHtmlOpen ? 'block' : 'none' }" [textContent]="dynamicTextHTML">
  </div>

  <div id="editorCss" [ngStyle]="{ 'display': isCssOpen ? 'block' : 'none' }" [textContent]="dynamicTextCss">
  </div>

</div>