.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  max-width: 140rem;
  margin: 0 auto;

}

.bg {
  background-image: url('../assets/images/bg.png');
  background-position: start center;
  background-repeat: no-repeat;
  background-size: cover;

}

.mobile_header {
  display: none;
}


@media (max-width : 500px) {

  .mobile_header {
    display: block;
  }
}