<header class="header">
  <app-header />
</header>


<div class="container">



  <div class="bg">

    <main id="home">
      <app-main />
      <app-code-editor />
    </main>
  </div>


  <section>
    <app-sobremim id="sobre" />
  </section>



  <section>
    <app-conhecimentos id="conhecimentos" />
  </section>

  <section>
    <article>
      <app-resultados />
      <app-cards class="scroll" [@slideIn]="showIcons" />

    </article>
  </section>


</div>


<app-duvidas />


<footer>
  <app-footer />
</footer>
<app-mobile-menu class="mobile_header" />