<header class="header">
  <app-header />
</header>




<div class="container">

  <main id="home">
    <app-main />
    <app-code-editor />
  </main>

  <section>
    <app-sobremim id="sobre" />
  </section>



  <section>
    <app-conhecimentos id="conhecimentos" />
  </section>

  <section>
    <article>
      <app-resultados />
      <app-cards class="scroll" [@slideIn]="showIcons" />
    </article>
  </section>

  <app-duvidas />



</div>

<footer>
  <app-footer />
</footer>

<app-mobile-menu class="mobile_header" />