.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  max-width: 140rem;
  margin: 0 auto;

}

/* .bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 100%;
  z-index: -2;
  opacity: 0.05;
  top: 0;
  left: 0;
  right: 0;
}


.bg_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  opacity: 0.05;
} */


.mobile_header {
  display: none;
}


@media (max-width : 500px) {

  .mobile_header {
    display: block;
  }
}