<header class="header">
  <app-header />
</header>
<!-- <div class="bg">
  <img src="../assets/images/bg.png" alt="">
</div>
<div class="bg2">
  <img src="../assets/images/bg.png" alt="">
</div> -->
<div class="container">



  <main id="home">
    <app-main />
    <app-code-editor />
  </main>

  <section>
    <app-sobremim id="sobre" />
  </section>



  <section>
    <app-conhecimentos id="conhecimentos" />
  </section>

  <section>
    <article>
      <app-resultados />
      <app-cards class="scroll" [@slideIn]="showIcons" />

    </article>
  </section>


  <div class="bg_bottom">
    <img src="../assets/images/bg.png" alt="">
  </div>
  <app-duvidas />





</div>
<footer>
  <app-footer />
</footer>
<app-mobile-menu class="mobile_header" />