<div class="container">
  <div class="main_txt scroll">
    <div class="title_group">
      <img src="../../../../assets/icons/icons8-hard-working-94.png" alt="">
      <h1><b>Front End </b> Developer</h1>
      <img src="../../../../assets/icons/icons8-hard-working-94.png" alt="">
    </div>

    <p>Capaz de transformar qualquer Design em código de <b>Alto Desempenho</b></p>
  </div>
  <div class="main_btn scroll" [@slideIn]="showIcons">
    <a href="#">
      Baixar CV
      <img src="../../../../assets/icons/seta-para-baixo.png" alt="download icone">
    </a>
    <a href="#">LinkedIn</a>
  </div>


</div>