<div class="container">
  <div class="conhecimentos_content">
    <div class="title_conhecimentos scroll">
      <h3>Experiências</h3>
      <p>Capaz de desenvolver aplicações completas utilizando o melhor que cada uma tem a oferecer</p>
    </div>

    <div class="language_icons " [@slideIn]="showIcons">
      <div class="icon_group scroll" *ngFor="let exp of experiencias">
        <img [src]="exp.imagem" alt="{{exp.alt}}">
        <span>{{exp.title}}</span>
      </div>
    </div>





    <div class="title_conhecimentos scroll">
      <h3>Ferramentas</h3>
      <p>Para facilitar o trabalho em grupo e o controle de versão dos projetos</p>
    </div>

    <div class="language_icons" [@slideIn]="showIcons">
      <div *ngFor="let Ferramentas of ferramentas" class="icon_group scroll">
        <img [src]="Ferramentas.imagem" alt="{{Ferramentas.alt}}">
        <span>{{Ferramentas.title}}</span>
      </div>
    </div>




  </div>
</div>