.container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 95%;
  margin: 3rem 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
  gap: 3rem;
}

.conhecimentos_content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title_conhecimentos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.title_conhecimentos h3 {
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.2;
  letter-spacing: 3px;
  font-family: 'nexa';

}

.title_conhecimentos p {
  display: block;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--p-txt);
  width: 60rem;
}

.language_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.icon_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #24292f;
  width: 15rem;
  padding: 2rem;
  border-radius: 1rem;
  transition: transform .3s ease;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: var(--dark_shadow)
}

.icon_group img {
  width: 6rem;
  height: 6rem;
}

.icon_group:hover {
  box-shadow: var(--light_shadow)
}

@media (max-width: 860px) {
  .title_conhecimentos h3 {
    font-size: 6rem;
    letter-spacing: 1px;
  }

  .title_conhecimentos p {
    font-size: 1.4rem;
    max-width: 60%;
  }
}


@media (max-width: 544px) {

  .title_conhecimentos h3 {
    font-size: 4rem;
  }

  .icon_group {
    width: 12rem;
  }

  .icon_group img {
    width: 4rem;
    height: 4rem;
  }

  .title_conhecimentos p {
    font-size: 1.3rem;
    max-width: 40rem;
  }
}

@media (max-width: 390px) {
  .title_conhecimentos h3 {
    font-size: 3.1rem;
    letter-spacing: normal;
  }

  .title_conhecimentos p {
    font-size: 1.2rem;
    max-width: 20rem;
  }

}

@media (max-width: 280px) {
  .title_conhecimentos h3 {
    font-size: 2.5rem;
    letter-spacing: normal;
  }

  .title_conhecimentos p {
    font-size: 1.2rem;
    max-width: 15rem;
  }

  .icon_group {
    gap: 1rem;
    padding: 2rem 3rem;
  }
}