<div class="container">
  <div class="conhecimentos_content">
    <div class="title_conhecimentos scroll">
      <h3>Tenho uma sólida experiência nas seguintes tecnologias.</h3>
      <p>Capaz de desenvolver aplicações completas utilizando o melhor que cada uma tem a oferecer</p>
    </div>
    <div class="language_icons scroll" [@slideIn]="showIcons">
      <div class="icon_group">
        <img src="../../../../assets/icons/angular.svg" alt="Angular icone">
        <span>Angular</span>
      </div>
      <div class="icon_group">
        <img src="../../../../assets/icons/tsIcon.svg" alt="TypeScript icone">
        <span>TypeScript</span>
      </div>
      <div class="icon_group">
        <img src="../../../../assets/icons/icons8-css.svg" alt="CSS icone">
        <span>CSS</span>
      </div>
      <div class="icon_group">
        <img src="../../../../assets/icons/icons8-html.svg" alt="HTML icone">
        <span>HTML</span>
      </div>
      <div class="icon_group">
        <img src="../../../../assets/icons/icons8-js.svg" alt="JavaScript icone">
        <span>JavaScript</span>
      </div>
    </div>

    <div class="title_conhecimentos scroll">
      <h3>Ferramentas</h3>
      <p>Para facilitar o trabalho em grupo e o controle de versão dos projetos</p>
    </div>
    <div class="language_icons scroll" [@slideIn]="showIcons">
      <div class="icon_group">
        <img src="../../../../assets/icons/icons8-git.svg" alt="Git icone">
        <span>Git</span>
      </div>
      <div class="icon_group">
        <img src="../../../../assets/icons/visualStudioCode.svg" alt="VScode icone">
        <span>VS Code</span>
      </div>
      <div class="icon_group">
        <img src="../../../../assets/icons/icons8-github.svg" alt="GitHub icone">
        <span>GitHub</span>
      </div>

    </div>

  </div>
</div>