.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projetos_container {
  flex-wrap: wrap;
  gap: 3rem;
  display: flex;
  justify-content: center;

}

.projetos_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.projetos_btn button {
  display: flex;
  width: 40rem;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  text-align: start;
  padding: 2rem;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  background: none;
  border: none;
  transition: transform .3s ease;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: var(--dark_shadow);
  border-radius: 1rem;
}

.projetos_btn button img {
  width: 4rem;
  height: 3.8rem;
}


.projetos_btn button:hover {
  box-shadow: var(--light_shadow);
}

.projetos_images img {
  padding: 1rem;
  max-width: 100%;
  height: auto;
  box-shadow: var(--dark_shadow);
  border-radius: 1rem;
  transition: transform .3s ease;
  transition: box-shadow 0.3s ease-in-out;
}

.projetos_images img:hover {
  box-shadow: var(--light_shadow);
}