.container {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.logo {
  cursor: pointer;
  font-size: 3rem;
  font-weight: 700;
  color: var(--p-txt);
}

.logo b {
  color: var(--orange);
}

.menu ul {
  display: flex;
  gap: 4rem;
}

.menu ul a {
  font-size: 2rem;
  font-weight: 700;
  color: var(--p-txt);
  cursor: pointer;
}

.menu ul a:hover {
  color: #fff;
}


@media (max-width: 768px) {
  .menu ul {
    display: flex;
    gap: 2rem;
  }

  .menu ul a {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media (max-width: 500px) {
  .container {
    justify-content: center;
  }

  .logo {
    font-size: 3rem;
    letter-spacing: 3px;
    color: var(--orange);
  }

  .logo b {
    color: var(--p-txt);
  }

  .menu {
    display: none;

  }
}