<div class="container">
  <div class="resultados_content">
    <div class="resultados_titles scroll">
      <h4>Excelência garantida nos projetos</h4>
      <span>Transformo o design dos seus sonhos em uma página funcional</span>
    </div>
    <div class="resultados_itens scroll">
      <div class="resultados_group" [@slideIn]="showIcons">
        <span id="numero1"></span>
        <p><b>SEO</b> para um bom ranqueamento da pagina</p>
      </div>
      <div class="resultados_group" [@slideIn]="showIcons">
        <span id="numero2"></span>
        <p>Tempo de Carregamento <b>Otimizado</b></p>
      </div>
      <div class="resultados_group" [@slideIn]="showIcons">
        <span id="numero3"></span>
        <p>Designs totalmente <b>responsivos</b></p>
      </div>
    </div>



  </div>
</div>