@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Ultra&display=swap');

.container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 95%;
  margin: 3rem 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
  gap: 3rem;
}


.resultados_content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.resultados_titles h4 {
  font-size: 6rem;
  font-weight: 700;
  font-family: 'nexa';

}

.resultados_titles span {
  display: block;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--p-txt);
  width: 60rem;
}

.resultados_itens {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: start;
}


.resultados_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 20rem;
  gap: 3rem;
  text-align: center;
  cursor: pointer;
}

.resultados_group span {
  font-family: 'Ultra', serif;
  color: var(--orange);
  font-size: 3.5rem;
  position: relative;
  padding-left: 10px;
  overflow: hidden;
}

.resultados_group p b {
  color: var(--orange);
}



.resultados_group span::before {
  content: "";
  position: absolute;
  background-color: var(--orange);
  width: 0;
  height: 4px;
  bottom: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: width 0.5s;
}

.resultados_group span:hover::before {
  width: 100%;
}

@media (max-width: 768px) {

  .resultados_titles h4 {
    font-size: 5rem;
    max-width: 100%;
  }

  .resultados_titles span {
    font-size: 2rem;
  }

  .resultados_group span {
    font-size: 4rem;
  }

  .resultados_group p {
    text-align: center;
    font-size: 1.4rem;
  }

  .resultados_group span::before {
    height: 2px;
  }


}

@media (max-width: 600px) {
  .resultados_group {
    max-width: 20rem;
    gap: 1rem;
  }

  .resultados_titles h4 {
    font-size: 3rem;
  }

  .resultados_titles span {
    max-width: 40rem;
  }

  .resultados_group span {
    font-size: 2.5rem;
  }

}

@media (max-width: 380px) {
  .resultados_titles h4 {
    font-size: 2rem;
  }

  .resultados_titles span {
    font-size: 1.3rem;
    max-width: 20rem;
  }
}